.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #E57C23;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    background-color: #e3a066;
    color: white;
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
    background-color: white;

}